click==8.0.3
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.1
tomli==2.0.0
typing_extensions==4.0.1
django==4.0.1
psycopg2-binary==2.9.3
django-markdownify==0.9.0
django-crispy-forms==1.13.0
elasticsearch==7.16.2
markdownify==0.10.1