body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

pre {
    background: #f8f9fa;
    color: #bd4147;
}

h1 {
    font-size: 30px;
}

.footer {
    flex: 1;
    background: #ffc107;
}

.question {
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.question-preview {
    margin-bottom: 10px;
}

.question .meta {
    margin-bottom: 20px;
}

.question .body {
    margin-bottom: 20px;
}

.answer {
    margin-bottom: 10px;
}

.ufo {
    height: 80%;
}
