pre {
    background: #f8f9fa;
    color: #bd4147;
}

h1 {
    font-size: 30px;
}

.content {
    min-height: calc(100vh - 304px);
}

.footer {
    height: 160px;
    background: #ffc107;
}

.question {
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.question-preview {
    margin-bottom: 10px;
}

.question .meta {
    margin-bottom: 20px;
}

.question .body {
    margin-bottom: 20px;
}

.answer {
    margin-bottom: 10px;
}

.ufo {
    height: 70%;
}