<footer class="footer mt-5">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6 offset-md-3 text-center">
                <h3>We <3 people who code</h3>
                <p>We build products that empower developers and connect them to
                    solutions that enable productivity, growth, and discovery.</p>
            </div>
        </div>
        <div class="row mb-2 mt-5 text-center">
            <div class="col-md-6">
                <h4>Reach developers worldwide</h4>
                <p>Use the world’s largest resource for people who code to help you
                    increase awareness and showcase your product or service across
                    Django Overflow’s network of Q&A sites.
                </p>
            </div>
            <div class="col-md-6">
                <h4>Support open source</h4>
                <p>Reach users of your project by following tags, answering newcomer
                    questions, and empowering experts in the community.</p>
            </div>
        </div>
    </div>
</footer>