.question {
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.question-preview {
    margin-bottom: 10px;
}

.question .meta {
    margin-bottom: 20px;
}

.question .body {
    margin-bottom: 20px;
}

pre {
    background: #f8f9fa;
    color: #bd4147;
}

.answer {
    margin-bottom: 10px;
}