{% load markdownify %}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h3 class="mt-3">Answers</h3>
        <ul class="list-unstyled answers">
            {% for answer in question.answer_set.all %}
                <li class="answer row">
                    <div class="col-sm-3 col-md-2 text-center">
                        {% if answer.accepted %}
                            <span class="badge badge-success">Accepted</span>
                        {% endif %}
                        {% if answer.accepted and reject_form %}
                            <form method="POST"
                                  action="{% url "qanda:update_answer_acceptance" pk=answer.id %}"
                                  novalidate>
                                {% csrf_token %}
                                {{ reject_form }}
                                <button type="submit" class="btn btn-outline-danger btn-sm mt-3">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    Reject
                                </button>
                            </form>
                        {% elif accept_form %}
                            <form method="POST"
                                  action="{% url "qanda:update_answer_acceptance" pk=answer.id %}"
                                  novalidate>
                                {% csrf_token %}
                                {{ accept_form }}
                                <button type="submit" class="btn btn-outline-success btn-sm"
                                        title="Accept answer">
                                    <i class="fa fa-check-circle"
                                       aria-hidden="true"></i>
                                    Accept
                                </button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="col-sm-9 col-md-10">
                        <div class="body">{{ answer.answer|markdownify }}</div>
                        <div class="meta badge badge-warning">
                            Answered by {{ answer.user }} on {{ answer.created }}
                        </div>
                    </div>
                </li>
            {% empty %}
                <li class="answer">No answers yet!</li>
            {% endfor %}
        </ul>
    </div>
</div>