{% load crispy_forms_tags %}

<div class="row">
    <div class="col-sm-12">
        <h3>Post your answer</h3>
        <form method="post" action="{% url "qanda:answer_question" pk=question.id %}" novalidate>
            {{ answer_form|crispy }}
            {% csrf_token %}
            <button class="btn btn-outline-primary btn-sm" type="submit" name="action" value="PREVIEW">Preview</button>
            <button class="btn btn-outline-primary btn-sm" type="submit" name="action" value="SAVE">Answer</button>
        </form>
    </div>
</div>